@tailwind base;
@tailwind components;
@tailwind utilities;


@media (max-width: 539px) {
    .slides-container {
        width: calc(100vh - 90px);
    }
}
.arrow-right {
    padding: 15px 10px;
    background-color: red;
}
.slick-prev {
    left: 3% !important;
    z-index: 1;
  }
.slick-next {
right: 3% !important;
z-index: 1;
}
.slick-arrow::before, 
.slick-arrow::after {
    display: none !important;
}