@font-face {
    font-family: 'Robot';
    src: url('../../fonts/Roboto/Roboto-Regular.ttf');
}

/* global style */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
ul {
    list-style: none;
}

:root {
    --background-color : #b6c7e0 ;
    --second-background-color : #a6bad8 ;
    --third-background-color : #98aed0 ;
    --radius : 20px; 
    --text-color : #fffefe ;
    --sub-text-color : #d9e0ee ;
    --main-padding : 15px ;
    --margin-bottom : 10px  ;
    --main-gap : 15px    ;
}

body {
    font-family: 'Robot';
    background-color: var(--background-color);
    height: 100vh;
    display: flex;
    align-items: center;
}
@media (max-width : 1190px) {
    body {
        height: initial;
    }
}

/* Styles container  */
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
} 
/* ! Z Small */
@media (max-width : 768px) {
    .container {
        width: 100%;
        padding: 0;
    }
}
/* ! Small */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}
/* ! Medium */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}
/* ! Large  */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}


/* End container styles */
.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(305px, 1fr));
    gap: var(--main-gap);
    justify-content: center;
}

.current-weather {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}
.current-weather > .current-weather__header {
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    background-color: var(--second-background-color);
    padding: calc(var(--main-padding) + 10px) var(--main-padding);
    flex: 1;

}
.current-weather > .current-weather__header > .current-weather__main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.current-weather > .current-weather__header > .current-weather__main > .main-wrapper {
    flex: 1;
    height: 100%;
    width: 100%;
    text-align: center;
}

.current-weather > .current-weather__header > .current-weather__main > .main-wrapper img {
    width: 200px;
}

.current-weather > .current-weather__header > .current-weather__main > .main-wrapper .state {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--text-color);
}


.state-number {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-bottom: calc(var(--margin-bottom) + 10px);
}

.state-number > h1 {
    color: var(--text-color);
    font-size: 3rem;
    font-weight: bold;

}

.state-number > .high-low {
    color: var(--sub-text-color);
    width: 90px;
    display: flex;
    justify-content: space-between;
    font-size: 1rem;
}


.current-weather__description {
    padding: var(--main-padding);
    display: grid;
    grid-template-columns: repeat(3, auto);
    background-color: var(--third-background-color);
    width: 100%;
    gap: 20px;
    /*border-radius: calc(var(--main-padding) + var(--radius));*/
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
}

.current-weather__description > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.current-weather__description > div > img {
    width: 60px;
}

.current-weather__description > div > .number {
    color: var(--text-color);
    font-weight: bold;
}

.current-weather__description > div > :last-child {
    color: #b6c4de;
    font-weight: bold;
}

/* Todays weather Graph */
.today-weather-graph {
    background-color: var(--second-background-color);
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
}


/* Start second Weather part  */

.forecast {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

.tomorrow-weather {
    height: 180px;
    display: flex;
    justify-content: space-between;
    gap: 15px;
    background-color: var(--second-background-color);
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    padding: calc(var(--main-padding) + 10px) var(--main-padding);
}

.tomorrow-weather > img {
    width: 150px;
}

.tomorrow-weather-contanet {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: var(--text-color);

}

.tomorrow-weather-contanet > div {
    text-align: center;
}

.tomorrow-weather-contanet > .tomorrow {
    font-size: 25px;
    font-weight: bold;
    color: var(--text-color);
    text-transform: capitalize;
    margin-bottom: 15px;
}

.tomorrow-weather-contanet > .tomorrow-weather-degree {
    margin-bottom: 10px;
}

.tomorrow-weather-contanet > .tomorrow-weather-degree > .tomorrow-weather-high-degree {
    font-size: 2rem;
    font-weight: bold;
    color: var(--text-color);
}

.tomorrow-weather-contanet > .tomorrow-weather-degree > .tomorrow-weather-low-degree {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--sub-text-color);
}

.tomorrow-weather-contanet > .tomorrow-weather-state {
    font-size: 1.3rem;
    text-transform: capitalize;
}

/* Start Week days */

.week-weather {

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.week-weather > .week-weather-box {
    height: 65px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    background-color: var(--second-background-color);
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    padding: 0 var(--main-padding);

}


.week-weather > .week-weather-box > .wrapper {
    display: flex;
    width: 59%;
    justify-content: space-between;
    align-items: center;

}

.week-weather > .week-weather-box > .wrapper > .week-day-weather {
    display: flex;
    align-items: center;
}
.week-weather > .week-weather-box > .wrapper > .week-day-weather > .week-day-weather-state {
    color: var(--text-color);
    font-size: 1.3rem;
}

.week-weather > .week-weather-box > .wrapper > .week-day-weather > img {
    width: 65px;
}

.week-weather > .week-weather-box > .wrapper > .week-day-name {
    color: var(--text-color);
    font-size: 1.2rem;
    font-weight: bold;
}


/* style degree */

.week-day-weather-degree > .week-day-weather-high-degree, 
.week-day-weather-degree > .degree  {
    color: var(--text-color);
    font-size: 1.2rem;
}

.week-day-weather-degree > .week-day-weather-low-degree {
    color: var(--sub-text-color);
    font-size: 1.2rem;
}
/* End Week days */

/* End second Weather part  */

/* Start third Part */
.weather-informations {
    display: flex;
    flex-direction: column;
    gap: var(--main-gap);
}

.sun-moon {
    display: flex;
    flex-direction: row;
    gap: var(--main-gap);
}

.sun-moon > div {
    width: 50%;
    
}

.sun-moon > div  > div {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    color: var(--text-color);
    font-weight: bold;
}

.sun-moon > div, 
.days-informations {
    background-color: var(--second-background-color);
    padding: calc(var(--main-padding) + 10px) var(--main-padding);
    border-radius: var(--radius);
    -webkit-border-radius: var(--radius);
    -moz-border-radius: var(--radius);
    -ms-border-radius: var(--radius);
    -o-border-radius: var(--radius);
    display: flex;
    flex-direction: column;
}

.days-informations ul {
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: space-around;
}

.days-informations ul > li {
    color: var(--text-color);
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0px 7px;
    padding: 10px 0px;
    border-bottom: 1px solid var(--text-color);
    font-weight: bold;
}
.days-informations ul > li:not(:last-child) {
    margin-bottom: 10px;
}
.weather-informations img {
    width: 60px;
}
/* End third Part */