/* Start Global Rules */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
:root {
    --text-color : #000 ;
    --text-white-color : #fff ;
    --primary-color : #5e63ba ;
    --hover-primary-color : #8286c9 ;
    --second-color : #fff ;
    --margin-bottom-size : 20px ;
    --main-transition : .3s ;
    --alert-backgroundc-color : rgb(0 0 0 / 40%) ;
    --container-border-raduis : 10px ;

}
body {
    width: 100vw;
    background-color: var(--primary-color);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}   
.container {
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
    width: 850px;
}
/* ! X Small */
@media (max-width: 768px) {
    .container {
        /* chaange flex direction to column */
        flex-direction: column;
        width: 750px;
    }
}
/* ! Small */
@media (min-width: 768px) {
    body {
        height: 100vh;
    }
}
/* End Global Rules */

/* Main style content */
.container {
    background-color: var(--second-color);
    padding: 60px 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 70px;
    border-radius: var(--container-border-raduis);
    -webkit-border-radius: var(--container-border-raduis);
    -moz-border-radius: var(--container-border-raduis);
    -ms-border-radius: var(--container-border-raduis);
    -o-border-radius: var(--container-border-raduis);
}
@media (max-width: 768px) {
    .container {
        gap: 15px;
    }
}
.container > .hangman-box {
    text-align: center;
    text-transform: capitalize;
}
.container > .hangman-box > img {
    max-width: 270px;
    margin-bottom: 30px;
}

/* game box styles */
.container > .game-box {
    flex: 1;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 30px;
}

/* word display */
.word-display {
    display: flex;
    gap: 20px;
    justify-content: center;
    margin-bottom: var(--margin-bottom-size);
}
.word-display > span.letter {
    width: 25px;
    border-bottom: 3px solid var(--text-color);
    text-transform: capitalize;
    font-size: 25px;
}
.word-display > span.showed {
    border-bottom: transparent;
}

/* hint styles */
.hint {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: var(--margin-bottom-size);
}

/* gusses styles */
.correct-gusses {
    font-size: 20px;
    font-weight: bold;
}
.gusses-counter, 
.gusses-count {
    color: red;
}

/* keyboard styles */
.keyboard {
    display: flex;
    justify-content: center;
    gap: 10px 5px;
    flex-wrap: wrap;
}
.keyboard > button {
    width: calc(100% / 9);
    height: 40px;
    padding: 7px;
    background-color: var(--primary-color);
    color: var(--text-white-color);
    border: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.keyboard > button:hover {
    background-color: var(--hover-primary-color);
}
/* End Main style content */

/* 
    Start alert styles
*/

.user-alert {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
    z-index: -1;
}
.user-alert > .content {
    background-color: var(--second-color);
    padding: 15px 20px;
    border-radius: var(--container-border-raduis);
    -webkit-border-radius: var(--container-border-raduis);
    -moz-border-radius: var(--container-border-raduis);
    -ms-border-radius: var(--container-border-raduis);
    -o-border-radius: var(--container-border-raduis);
    text-align: center;
}
.user-alert > .content > .image {
    text-align: center;
    margin-bottom: var(--margin-bottom-size);
}
.user-alert > .content > .image > img {
    max-width: 200px;
}
.user-alert > .content > b {
    display: block;
    margin-bottom: var(--margin-bottom-size);
}
.user-alert > .content > button {
    height: 40px;
    padding: 7px;
    background-color: var(--primary-color);
    color: var(--text-white-color);
    border: none;
    font-weight: 600;
    font-size: 1rem;
    cursor: pointer;
    text-transform: capitalize;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
    transition: var(--main-transition);
    -webkit-transition: var(--main-transition);
    -moz-transition: var(--main-transition);
    -ms-transition: var(--main-transition);
    -o-transition: var(--main-transition);
}
.user-alert > .content > button:hover {
    background-color: var(--hover-primary-color);
}


/* remove element */
.h-e {
    animation: showelement 1s;
    -webkit-animation: showelement 1s;
    animation-play-state: running;
    animation-fill-mode: forwards;
}
@keyframes showelement {
    from {
        z-index: -1;
    }
    to {
        z-index: 1;
        background-color: var(--alert-backgroundc-color);
    }
}

/* 
    End alert styles
*/